/* CSS Classes */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-item {
  flex: auto;
}

.m5 {
  margin: 5px;
}

.mt5 {
  margin-top: 5px;
}

.text-right {
  text-align: right;
}

.action-btn {
  /* align-items: flex-start; */
  /* text-align: center; */
  /* cursor: default; */
  /* color: buttontext; */
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px;
  border-width: 1px;
  border-style: outset;
  border-color: grey;
  border-radius: 3px;
  /* border-image: initial; */
}

/* CSS Selectors Styles */
.action-btn:hover {
  background-color: lightgrey;
}

.flex input:not([type="checkbox"]),
select,
table {
  width: 100%;
}

table th:last-of-type {
  width: 30px;
}

/* Element Styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

label {
  font-size: 14px;
  /* color: lightgrey; */
}

input[type='text'],
select,
button {
  padding: 5px;
  margin: 3px;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
  border-bottom: 2px solid #dee2e6;
  padding: 0.3rem;
  font-weight: 500;
}

td {
  border-top: 1px solid #dee2e6;
  padding: 0.3rem;
}
